:root {
  --blue: #1e55fa;
  --blue-dark: #041832;
  --red: #e42121;
  --red-dark: #bf1c1c;
  --orange: #e7891d;
  --orange-dark: #be731d;
  --green: #4cae4c;
  --white: #ffffff;
  --white-grey: #bbbbbb;
  --black: #000000;
}